@use './colors';

.cart {
  background: colors.$black;
  padding: 30px 200px 30px 130px;
  margin-bottom: 100px;
}

.cart__flex {
  display: flex;
  justify-content: space-between;
}

.cart__center {
  margin: auto 0;
  font-size: 24px;
}

.cart__price {
  margin: auto 0;
  font-size: 35px;
  font-weight: bold;
}

.cart__quantity {
  margin: 0 10px;
  font-size: 32px;
}

.cart__img {
  display: flex;
}

.cart__btn {
  margin-right: 30px;
}
  