@use './colors';

.cart {
  background: colors.$black;
  padding: 30px 200px 30px 30px;
  margin-bottom: 100px;
}

.cart__flex {
  display: flex;
  justify-content: space-between;
}

.cart__center {
  margin: auto 0;
  font-size: 24px;
  color: colors.$white;
  p {
    color: colors.$white;
  }
}

.cart__price {
  margin: auto 0;
  font-size: 35px;
  font-weight: bold;
  color: colors.$white;
}

.cart__quantity {
  margin: 0 10px;
  font-size: 32px;
}

.cart__img {
  display: flex;
}

.cart__btn {
  margin-right: 30px;
}

.cart__form {
  background-color: #F2EFEB;
  width: 1200px;
  margin: 0 auto;
  height: 560px;
  padding: 200px;
  margin-bottom: 100px;
  border-radius: 10px;
}

.cart__form--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.cart__form--info {
  margin-top: -100px;
}

.cart__form--button {
  position: relative;
  left: 295px;
}

.cart__form--tittle {
  font-size: 45px;
  font-weight: normal;
  margin-top: -60px;
  margin-bottom: 20px;
}

textarea {
  border-radius: 10px;
}