@use './colors';
 
  .footer {
    height: 435px;
    padding-top: 60px;
  }
 
.footer__logo {
  width: 250px;
  display: block;
  margin: auto;
}
 
.footer__nav {
  display: flex;
  justify-content: center;
  margin: 20px 0 50px 0;
}
 
.footer__media--icons {
  list-style: none;
  cursor: pointer;
  margin-right: 16px;
}

.footer__nav--facebook::before {
  content: url(../images/icons/facebook-36px.png);
}
 
.footer__nav--instagram::before {
  content: url(../images/icons/instagram-36px.png);
}
 
.footer__nav--youtube::before {
  content: url(../images/icons/youtube-36px.png);
}
 
.footer__nav--twitter::before {
  content: url(../images/icons/twitter-36px.png);
}
 
.form__newsletter {
  width: 250px;
  height: 165px;
  margin: 0 auto;
  background-color: colors.$white;
  border-radius: 40px;
  color: colors.$black;
  padding: 15px 16px 25px 16px;
}
 
.form__newsletter--subscribe {
  display: block;
  font-family: 'Rubik Dirt', sans-serif;
  font-size: 22px;
  text-align: center;
}
 
#form__newsletter--email {
  width: 100%;
  font-size: 20px;
  padding: 8px;
  border: solid 3px colors.$black;
  border-radius: 10px;
}
 
.footer__rights {
  display: flex;
  justify-content: space-between;
  max-width: 320px;
  margin: 0 auto;
}
 
.footer__rights--text {
  font-size: 14px;
  color: colors.$white
}
 
@media (min-width: 480px) {
  .footer {
    margin: 20px 0 25px 0;
  }
 
  .footer__logo {
    width: 300px;
  }
 
  .form__newsletter {
    width: 240px;
    height: 180px;
  }
 
.form__newsletter--subscribe {
  font-size: 22px;
}
   
  #form__newsletter--email{
    padding: 13px;
  }
 
  .footer__rights {
    max-width: 460px;
  }
}
 
@media (min-width: 768px) {
  .footer__nav {
    margin: 30px 0 40px 0;
  }
 
  .form__newsletter {
    width: 270px;
    height: 200px;
  }
 
  .form__newsletter--subscribe {
    font-size: 25px;
  }
 
   
  #form__newsletter--email {
    padding: 16px;
    border-width: 4px;
    font-size: 20px;
  }
 
  .footer__rights {
    max-width: 600px;
  }
}
 
@media (min-width: 1024px) {
  .footer {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 435px;
  }
 
  .footer__logo {
    width: 300px;
    height: 60px;
  }

  .footer__nav--facebook::before {
    content: url(../images/icons/facebook.png);
  }
   
  .footer__nav--instagram::before {
    content: url(../images/icons/instagram.png);
  }
  .footer__nav--youtube::before {
    content: url(../images/icons/youtube.png);
  }
   
  .footer__nav--twitter::before {
    content: url(../images/icons/twitter.png);
  }
 
  .form__newsletter {
    height: 240px;
    width: 300px;
    padding: 45px 16px;
  }
 
  .form__newsletter--subscribe {
    font-size: 25px;
  }
 
  #form__newsletter--email {
    padding: 18px;
    border-width: 3px;
  }
 
  .footer__rights {
    max-width: 1000px;
  }
}
