@use './colors';
 
  .footer {
    height: 435px;
    padding: 40px 25px;
  }
 
.footer__logo--img {
  width: 250px;
  display: block;
  margin: auto;
}
 
.footer__nav__social {
  display: flex;
  justify-content: center;
  margin: 10px 0 60px 0;
  li {
    list-style: none;
  }
}
 
.footer__nav__social--facebook::before {
  content: url(../images/icons/facebook.png);
  cursor: pointer;
  margin-right: 16px;
}
 
.footer__nav__social--instagram::before {
  content: url(../images/icons/instagram.png);
  cursor: pointer;
  margin-right: 16px;
}
 
.footer__nav__social--youtube::before {
  content: url(../images/icons/youtube.png);
  cursor: pointer;
  margin-right: 16px;
}
 
.footer__nav__social--twitter::before {
  content: url(../images/icons/twitter.png);
  cursor: pointer;
  margin-right: 16px;
}
 
.form__newsletter--description {
  width: 250px; //max o min?
  height: 165px;
  margin: 0 auto;
  background-color: colors.$white;
  border-radius: 40px;
  color: colors.$black;
  padding: 30px 16px 30px 16px;
  p {
    font-family: 'Rubik Dirt', sans-serif;
    font-size: 22px;
    text-align: center;
    margin: 0 0 25px 0;
  }
}
 
#email-newsletter {
  width: 100%;
  font-size: 20px;
  padding: 8px;
  border: solid 3px colors.$black;
  border-radius: 10px;
  margin-top: -10px;
}
 
.footer__rights {
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  p {
    font-size: 14px;
    color: colors.$white
  }
}
 
@media (min-width: 480px) {
  .footer {
    padding: 40px 50px;
    margin: 20px 0 25px 0;
  }
 
  .footer__logo--img {
    width: 300px;
  }
 
  .footer__nav__social {
    justify-content: center;
  }
 
  .form__newsletter--description {
    width: 320px; //max o min?
    height: 200px;
    p {
      font-size: 26px;
    }
  }
   
  #email-newsletter {
    padding: 13px;
  }
 
  .footer__rights {
    padding: 0 50px;
  }
}
 
@media (min-width: 768px) {
  .footer {
    padding: 40px 100px;
  }
 
  .footer__logo--img {
    width: 400px;
  }
   
  .footer__nav__social {
    margin: 10px 0 40px 0;
  }
 
  .form__newsletter--description {
    width: 360px; //max o min?
    height: 220px;
    p {
      font-size: 30px;
      margin-bottom: 35px;
    }
  }
   
  #email-newsletter {
    padding: 15px;
    border-width: 5px;
    font-size: 25px;
  }
 
  .footer__rights {
    padding: 0 100px;
  }
}
 
@media (min-width: 1024px) {
  .footer {
    padding: 40px 75px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 435px;
  }
 
.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 
// .footer__logo {
 
// }
 
.footer__nav__social--facebook::before {
  content: url(../images/icons/facebook-36px.png);
}
 
.footer__nav__social--instagram::before {
  content: url(../images/icons/instagram-36px.png);
}
 
.footer__nav__social--youtube::before {
  content: url(../images/icons/youtube-36px.png);
}
 
.footer__nav__social--twitter::before {
  content: url(../images/icons/twitter-36px.png);
 
}
 
  .footer__logo--img {
    width: 300px;
    height: 40px;
  }
 
  .form__newsletter--description {
    height: 240px;
    p {
      font-size: 35px;
    }
  }
 
  .footer__rights {
    padding: 0 75px;
  }
}
