@use './colors';

.header {
  background: colors.$black;
  padding: 30px 50px;
  margin-bottom: 100px;
}

.header__nav--marked {
  border-bottom: solid 3px #93151C;
  width: 100%;
}

.header__nav--hover{
  display: flex;
  justify-content: center;
}

.header__nav--hover:hover {
  border-bottom: solid 3px #93151C;
}

.header__flex {
  display: block;
}

.header__logo {
  height: 50px;
  width: 100%;
}

.header__search {
  display: flex;
  justify-content: center;
}

.header__search--bar {
  height: 27px;
  width: 100%;
  border-radius: 10px;
  margin-left: 15px;
  margin-top: 20px;
  padding: 10px 4px;
}

.header__search--img {
  content: "";
  background: url("../images/icons/search.png") no-repeat;
  width: 35px;
  height: 21px;
  position: relative;
  right: 11%;
  top: 22px;
}

.header__nav {
  display: block;
  width: 10%;
  font-size: 14px;
  margin: 0 auto;
  margin-top: 15px;
}

.header__btn {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.header__btn--log {
  background: colors.$white;
  color: colors.$black;
  margin-left: 0;
}

.header__btn--log:hover {
  box-shadow: -1px 6px 10px 0 #777777;
}

.header__btn--sign {
  background: colors.$black;
  border: solid 1px #F2EFEB;
  margin-left: 15px;
}

.header__btn--sign:hover {
  box-shadow: -1px 6px 10px 0 #777777;
}

.header__btn--log,
.header__btn--sign {
  font-size: 14px;
  border-radius: 10px;
  align-items: center;
  padding: 10px;
}

@media (min-width: 481px) {
  .header__nav {
    font-size: 20px;
  }

  .header__logo {
    height: 100px;
  }

  .header__btn--log,
  .header__btn--sign {
    font-size: 20px;
  }

  .header__search--img {
    right: 7%;
    height: 35px;
  }
}

@media (min-width: 769px) {
  .header {
    padding: 30px 100px;
  }

  .header__flex {
    display: flex;
    justify-content: space-between;
  }

  .header__nav {
    font-size: 16px;
    width: 65%;
    display: flex;
    justify-content: space-between;
  }

  .header__nav--marked {
    width: auto;
  }

  .header__logo {
    width: 90%;
    height: 70px;
  }

  .header__btn {
    display: flex;
    width: 400px;
    justify-content: flex-end;
    margin: 0;
  }

  .header__btn--log,
  .header__btn--sign {
    font-size: 16px;
  }

  .header__search {
    display: block;
  }

  .header__search--bar {
    height: 35px;
    margin: 0;
  }

  .header__search--img {
    background: url("../images/icons/search.svg") no-repeat;
    height: 35px;
    top: -34px;
    right: -77%;
    margin-left: 15px;
  }
}

@media(min-width: 1024px) {
  .header {
    padding: 30px 200px;
  }

  .header__logo {
    height: 62px;
    width: 357px;
  }

  .header__nav {
    width: 65%;
    font-size: 22px;
    margin: auto 0;
  }

  .header__search {
    margin-left: 15px;
  }

  .header__btn {
    width: 280px;
  }

  .header__btn--log,
  .header__btn--sign {
    font-size: 22px;
  }

  .header__search--img {
    right: -80%;
  }
}