.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  
  .header {
    background: #2B2929;
    padding: 30px 100px;
    margin-bottom: 100px;
  }
  
  .header__flex {
    display: flex;
    justify-content: space-between;
  }
  
  .header__logo {
    height: 62px;
    width: 357px;
  }
  
  .header__search--bar {
    height: 45px;
    width: 520px;
    border-radius: 10px;
  }
  
  .header__search--img {
    content: "";
    background: url("./images/icons/search.svg") no-repeat;
    width: 35px;
    height: 35px;
    position: relative;
    right: -92%;
    top: -49%;
  }
  
  .header__nav {
    width: 40%;
    font-size: 24px;
    margin-top: 15px;
  }
  
  .header__btn--log {
    background: #F2EFEB;
    border-radius: 10px;
    color: #2B2929;
    font-size: 24px;
    align-items: center;
    padding: 10px;
  }
  
  .header__btn--sign {
    background: #2B2929;
    border-radius: 10px;
    font-size: 24px;
    align-items: center;
    padding: 10px;
    border: solid 1px #F2EFEB;
    margin-left: 15px;
  }