@use './colors';

.header {
  background: colors.$black;
  padding: 30px 100px;
  margin-bottom: 100px;
}

.header__nav--hover:hover {
  border-bottom: solid 3px #93151C;
}

.header__flex {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  height: 62px;
  width: 357px;
}

.header__search--bar {
  height: 45px;
  width: 520px;
  border-radius: 10px;
}

.header__search--img {
  content: "";
  background: url("../images/icons/search.svg") no-repeat;
  width: 35px;
  height: 35px;
  position: relative;
  right: -92%;
  top: -49%;
}

.header__nav {
  width: 35%;
  font-size: 22px;
  margin-top: 15px;
}

.header__btn--log {
  background: colors.$white;
  border-radius: 10px;
  color: colors.$black;
  font-size: 22px;
  align-items: center;
  padding: 10px;
}

.header__btn--log:hover {
  box-shadow: -1px 6px 10px 0 #777777;
}

.header__btn--sign {
  background: colors.$black;
  border-radius: 10px;
  font-size: 22px;
  align-items: center;
  padding: 10px;
  border: solid 1px #F2EFEB;
  margin-left: 15px;
}

.header__btn--sign:hover {
  box-shadow: -1px 6px 10px 0 #777777;


}