.categories__container {
  display: flex;
  margin: 0 auto;
  max-width: 1900px;
  padding-left: 150px;
}

.sidebar {
  background-color: #2B2929;
  height: 620px;
  width: 30%;
  border-radius: 10px;
  padding: 35px;
}

.sidebar__title {
  color: white;
  text-align: center;
  margin: 80px 0;
  font-size: 40px;
}

.sidebar__filters {
  background-color: white;
  font-weight: bold;
  padding: 5px;
  list-style: none;
  margin-bottom: 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
}

.sidebar__categories--buttons {
  color: #2B2929;
}

.sidebar__search--bar {
  height: 45px;
  width: 320px;
  border-radius: 10px;
}

.sidebar__search--img {
  content: "";
  background: url("../images/icons/search.svg") no-repeat;
  width: 35px;
  height: 35px;
  position: relative;
  right: -88%;
  top: -39px;
  margin-bottom: -25px;
}

.card__container {
  display: flex;
  flex-wrap: wrap;
}

ul {
  padding-left: 0;
}

.card__title {
  margin-top: 100px;
}

.card__container {
  justify-content: center;
  list-style: none;
  margin-bottom: 100px;
}

.card {
  min-width: 315px;
  max-width: 315px;
  min-height: 435px;
  border: 7px solid #2B2929;
  border-radius: 10px;
  margin-right: 65px;
  background-color: white;
  position: relative;
  margin-bottom: 30px;
}

.card:hover {
  transform: scale(1.1);
}

.card__wrapper {
  position: relative;
  z-index: 2;
}

.card__img {
  width: 90%;
  margin: 15px 15px 0 15px;
  border-radius: 10px;
}

.card__info {
  min-height: 150px;
  padding: 20px 20px 0 20px;
  margin-top: 10px;
  text-align: center;
}

.card__info__price {
  padding-left: 0;
  color: #2B2929;
  font-size: 24px;
  margin-top: 40px;
}

.card__info__name {
  margin: 0;
  font-size: 22px;
  color: #2B2929;
}

.card__info__category {
  color: #2B2929;
}

.card__cta {
  font-size: 22px;
  padding: 0 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2B2929;
  cursor: pointer;
}

.card__cta::after {
  cursor: pointer;
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.card__cta--arrow {
  position: relative;
  margin-left: 5px;
  border-radius: 3px;
  z-index: 3;
  height: 24px;
  width: 24px;
}

.card__cta--arrow::after {
  content: url("../images/icons/arrow-right.png");
  position: absolute;
  left: 4px;
  bottom: -2px;
}

.footer {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 435px;
  padding: 30px 200px;
}

.footer__logo {
  height: 20px;
  width: 100px;
  margin-right: 130px;
}

.footer__nav__social {
  display: flex;
  margin-left: 100px;
}
.footer__nav__social li {
  position: relative;
  list-style: none;
}

.footer__nav__social--facebook::before {
  content: url(../images/icons/facebook.png);
  margin-right: 20px;
  cursor: pointer;
}

.footer__nav__social--instagram::before {
  content: url(../images/icons/instagram.png);
  margin-right: 20px;
  cursor: pointer;
}

.footer__nav__social--youtube::before {
  content: url(../images/icons/youtube.png);
  margin-right: 20px;
  cursor: pointer;
}

.footer__nav__social--twitter::before {
  content: url(../images/icons/twitter.png);
  cursor: pointer;
}

.form__newsletter--description {
  width: 443px;
  height: 312px;
  background-color: white;
  border-radius: 40px;
  color: #2B2929;
  padding: 50px 16px 50px 16px;
}
.form__newsletter--description p {
  font-family: "Rubik Dirt", sans-serif;
  font-size: 35px;
  text-align: center;
}

#email-newsletter {
  width: 100%;
  border-radius: 10px;
  border: 5px solid #2B2929;
}

.footer__rights {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  margin-top: 20px;
}
.footer__rights p {
  font-size: 14px;
  color: white;
}

.slideshow__container {
  position: relative;
  margin: auto;
}

.slideshow {
  display: none;
}
.slideshow img {
  width: 100%;
  height: 285px;
}

.slideshow__arrow--previus,
.slideshow__arrow--next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  border-radius: 0 3px 3px 0;
  background-color: #2B2929;
}

.slideshow__arrow--next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.slideshow__arrow--next:hover,
.slideshow__arrow--previus:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slideshow__dots {
  text-align: center;
  margin-bottom: 100px;
  margin-top: 10px;
}

.slideshow__dots--pass {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #2B2929;
  border-radius: 50%;
  display: inline-block;
}

.active, .slideshow__dots--pass:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.block__content--ds {
  width: 1218px;
  height: 536px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.block__div--ds {
  width: 496px;
  height: 496px;
  margin-right: 50px;
}

.block__div--ds h3 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 65px;
  color: black;
}

.block__div--ds p {
  width: 460px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-top: 44px;
  color: black;
}

.block__div--ds a {
  color: white;
  text-decoration: none;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  position: relative;
  top: 15px;
}

.block__anchor--ds {
  width: 215px;
  height: 60px;
  background-color: black;
  border-radius: 30px;
  margin-top: 49.5px;
  padding: 15px 50px;
}

.block__anchor--ds:hover {
  border: solid 2px #2B2929;
  color: #2B2929;
  background-color: #fff;
}

.block_img--ds {
  width: 696px;
  height: 481px;
}

.block__content--reverse--ds {
  margin-top: 148px;
  width: 1218px;
  height: 536px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  margin-bottom: 100px;
}

.block__div--reverse--ds {
  width: 496px;
  height: 496px;
  margin-left: 50px;
}

.block__div--reverse--ds h3 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 65px;
  color: black;
}

.block__div--reverse--ds p {
  width: 460px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-top: 44px;
  color: black;
}

.block__div--reverse--ds a {
  color: white;
  text-decoration: none;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  position: relative;
  top: 15px;
}

.cart {
  background: #2B2929;
  padding: 30px 200px 30px 30px;
  margin-bottom: 100px;
}

.cart__flex {
  display: flex;
  justify-content: space-between;
}

.cart__center {
  margin: auto 0;
  font-size: 24px;
  color: white;
}
.cart__center p {
  color: white;
}

.cart__price {
  margin: auto 0;
  font-size: 35px;
  font-weight: bold;
  color: white;
}

.cart__quantity {
  margin: 0 10px;
  font-size: 32px;
}

.cart__img {
  display: flex;
}

.cart__btn {
  margin-right: 30px;
}

.cart__form {
  background-color: #F2EFEB;
  width: 1200px;
  margin: 0 auto;
  height: 560px;
  padding: 200px;
  margin-bottom: 100px;
  border-radius: 10px;
}

.cart__form--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.cart__form--info {
  margin-top: -100px;
}

.cart__form--button {
  position: relative;
  left: 295px;
}

.cart__form--tittle {
  font-size: 45px;
  font-weight: normal;
  margin-top: -60px;
  margin-bottom: 20px;
}

textarea {
  border-radius: 10px;
}

.header {
  background: #2B2929;
  padding: 30px 200px;
  margin-bottom: 100px;
}

.header__nav--marked {
  border-bottom: solid 3px #93151C;
}

.header__nav--hover:hover {
  border-bottom: solid 3px #93151C;
}

.header__flex {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  height: 62px;
  width: 357px;
}

.header__search--bar {
  height: 45px;
  width: 100%;
  border-radius: 10px;
  margin-left: 15px;
}

.header__search--img {
  content: "";
  background: url("../images/icons/search.svg") no-repeat;
  width: 35px;
  height: 35px;
  position: relative;
  right: -94%;
  top: -49%;
}

.header__nav {
  width: 55%;
  font-size: 22px;
  margin-top: 15px;
}

.header__btn {
  width: 400px;
  display: flex;
  justify-content: flex-end;
}

.header__btn--log {
  background: white;
  border-radius: 10px;
  color: #2B2929;
  font-size: 22px;
  align-items: center;
  padding: 10px;
}

.header__btn--log:hover {
  box-shadow: -1px 6px 10px 0 #777777;
}

.header__btn--sign {
  background: #2B2929;
  border-radius: 10px;
  font-size: 22px;
  align-items: center;
  padding: 10px;
  border: solid 1px #F2EFEB;
  margin-left: 15px;
}

.header__btn--sign:hover {
  box-shadow: -1px 6px 10px 0 #777777;
}

@media (max-width: 1160px) {
  .header__nav {
    width: 100%;
  }
  .header__search--img {
    right: -92%;
  }
}
@media (max-width: 1023px) {
  .header {
    padding: 30px 100px;
  }
  .header__logo {
    height: 50px;
    width: 330px;
    margin-top: 6px;
    margin-right: 15px;
  }
  .header__nav {
    height: 25px;
    font-size: 16px;
    width: 70%;
  }
  .header__btn {
    display: flex;
    justify-content: flex-end;
  }
  .header__btn--log,
  .header__btn--sign {
    font-size: 16px;
  }
  .header__search--bar {
    width: 100%;
  }
  .header__search--img {
    right: -92%;
  }
}
@media (max-width: 768px) {
  .header__flex {
    display: block;
  }
  .header__nav {
    margin: 0 auto;
    font-size: 20px;
    margin: 0 auto;
    width: 10%;
  }
  .header__logo {
    width: 100%;
    height: 100px;
  }
  .header__btn {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 100px;
    width: 100%;
  }
  .header__nav--hover {
    display: flex;
    justify-content: center;
  }
  .header__nav--marked {
    width: 100%;
  }
  .header__btn--log {
    margin-left: 0;
  }
  .header__btn--log,
  .header__btn--sign {
    font-size: 20px;
  }
  .header__search--bar {
    margin-top: 20px;
    height: 27px;
  }
  .header__search--img {
    right: -94%;
    top: -39px;
    height: 35px;
  }
}
@media (max-width: 480px) {
  .header {
    padding: 30px 50px;
  }
  .header__nav {
    font-size: 14px;
  }
  .header__logo {
    height: 50px;
  }
  .header__btn {
    margin-top: 65px;
  }
  .header__btn--log,
  .header__btn--sign {
    font-size: 14px;
  }
  .header__search--bar {
    padding: 10px 4px;
  }
  .header__search--img {
    right: -95%;
    top: -24px;
    height: 21px;
    background: url("../images/icons/search.png") no-repeat;
  }
}
.blog__info {
  font-size: 24px;
  padding-left: 12%;
  margin-bottom: 100px;
  margin-top: -50px;
  width: 1200px;
}

.blog__container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 12%;
  max-width: 1700px;
}

.blog__container--card {
  width: 500px;
  height: 600px;
  border: solid 7px #2B2929;
  padding: 50px 30px;
  align-items: center;
  margin-bottom: 100px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.blog__container--img,
.blog__container--info,
.blog__container--tittle {
  margin-bottom: 30px;
  text-align: center;
}

.blog__container--info {
  margin-top: 30px;
}

.blog__container--img {
  display: block;
  margin: auto;
}

.qwe {
  margin: 0 auto;
}

.form-popup {
  display: none;
  position: absolute;
  margin-top: 77px;
  margin-left: -130px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-popup-sign-up {
  margin-left: 0;
}

/* Add styles to the form container */
.form-container {
  width: 400px;
  padding: 60px 40px;
  background-color: white;
}

.form-container-tittle {
  font-size: 40px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: normal;
}

.form-input {
  font-size: 20px;
  padding: 10px;
  margin-bottom: 30px;
  width: 100%;
  border-radius: 10px;
  border: 5px solid #2B2929;
}

.form-center {
  display: flex;
  justify-content: center;
}

/* Add a red background color to the cancel button */
.form-btn-close {
  margin-left: 350px;
  margin-top: 10px;
  color: #2B2929;
  font-weight: bold;
}

.form-forget {
  color: #2B2929;
  text-decoration: underline;
  text-align: center;
}

.form-forget:hover {
  opacity: 80%;
}

* {
  box-sizing: border-box;
}

p {
  color: black;
}

body {
  font-family: "Rubik";
  margin: 0 auto;
  color: #2B2929;
}

h1, h2 {
  color: #2B2929;
}

h1 {
  margin-left: 12%;
  font-size: 45px;
  margin-bottom: 100px;
}

a {
  text-decoration: none;
  color: white;
}

button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

input {
  font-size: 24px;
  padding: 20px 8px;
  text-align: center;
}

footer {
  width: 100%;
  background-color: #2B2929;
}

.buttons {
  padding: 10px 75px;
  background-color: #2B2929;
  margin-top: 50px;
  border-radius: 10px;
  border: solid 2px #2B2929;
}

.buttons:hover {
  background-color: white;
  color: #2B2929;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*# sourceMappingURL=styles.css.map */
