.categories__container {
  margin: 0 auto;
  max-width: 1900px;
}

.sidebar {
  background-color: #2B2929;
  height: 300px;
  width: 100%;
  border-radius: 10px;
  padding: 3px;
  margin-bottom: 50px;
  text-align: center;
}

.sidebar__title {
  color: white;
  text-align: center;
  margin: 25px 0 15px 0;
  font-size: 24px;
}

.sidebar__filters {
  background-color: white;
  font-weight: bold;
  padding: 3px;
  list-style: none;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  width: 200px;
  margin: 15px auto;
}

.sidebar__categories--buttons {
  color: #2B2929;
}

.sidebar__search--bar {
  height: 45px;
  width: 80%;
  max-width: 300px;
  border-radius: 10px;
}

.sidebar__search--img {
  content: "";
  background: url(../images/icons/search.svg) no-repeat;
  width: 35px;
  height: 35px;
  position: relative;
  right: -75%;
  top: -39px;
  margin-bottom: -25px;
}

.card__container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 0 20px 35px 20px;
}

@media (min-width: 480px) {
  .sidebar__search--bar {
    width: 65%;
    max-width: 450px;
  }
  .sidebar__filters {
    width: 300px;
  }
  .sidebar__search--img {
    right: -75%;
  }
}
@media (min-width: 768px) {
  .sidebar__search--bar {
    width: 50%;
    max-width: 475px;
  }
  .sidebar__filters {
    width: 300px;
  }
  .sidebar__search--img {
    right: -70%;
  }
}
@media (min-width: 1024px) {
  .categories__container {
    display: flex;
  }
  .sidebar {
    height: 620px;
    width: 50%;
    border-radius: 10px;
    padding: 35px;
    margin-left: 12%;
  }
  .sidebar__title {
    margin: 80px 0;
    font-size: 40px;
  }
  .sidebar__filters {
    padding: 5px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 360px;
  }
  .sidebar__search--bar {
    height: 50px;
    width: 100%;
    max-width: 360px;
  }
  .sidebar__search--img {
    right: -79%;
  }
  .card {
    margin: 0 0px 35px 65px;
  }
}
ul {
  padding-left: 0;
}

.card__title {
  margin-top: 100px;
}

.card__container {
  justify-content: center;
  list-style: none;
  margin-bottom: 100px;
  margin-top: 0;
}

.card {
  width: 180px;
  min-height: 265px;
  border: 7px solid #2B2929;
  border-radius: 10px;
  background-color: white;
  position: relative;
  margin-bottom: 30px;
}

.card:hover {
  transform: scale(1.1);
}

.card__wrapper {
  position: relative;
  z-index: 2;
}

.card__img {
  width: 90%;
  margin: 15px 15px 0 15px;
  border-radius: 10px;
}

.card__info {
  min-height: 150px;
  padding: 20px 20px 0 20px;
  margin-top: 10px;
  text-align: center;
}

.card__info__price {
  padding-left: 0;
  color: #2B2929;
  font-size: 24px;
  margin-top: 40px;
}

.card__info__name {
  margin: 0;
  font-size: 22px;
  color: #2B2929;
}

.card__info__category {
  color: #2B2929;
}

.card__cta {
  font-size: 22px;
  padding: 0 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2B2929;
  cursor: pointer;
}

.card__cta::after {
  cursor: pointer;
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.card__cta--arrow {
  position: relative;
  margin-left: 5px;
  border-radius: 3px;
  z-index: 3;
  height: 24px;
  width: 24px;
}

.card__cta--arrow::after {
  content: url("../images/icons/arrow-right.png");
  position: absolute;
  left: 4px;
  bottom: -2px;
}

@media (min-width: 480px) {
  .card {
    width: 220px;
    min-height: 276px;
  }
}
@media (min-width: 768px) {
  .card {
    width: 240px;
    min-height: 355px;
  }
}
@media (min-width: 1024px) {
  .card {
    width: 260px;
    min-height: 435px;
    border-radius: 10px;
    margin-bottom: 30px;
  }
}
.footer {
  height: 435px;
  padding-top: 60px;
}

.footer__logo {
  width: 250px;
  display: block;
  margin: auto;
}

.footer__nav {
  display: flex;
  justify-content: center;
  margin: 20px 0 50px 0;
}

.footer__media--icons {
  list-style: none;
  cursor: pointer;
  margin-right: 16px;
}

.footer__nav--facebook::before {
  content: url(../images/icons/facebook-36px.png);
}

.footer__nav--instagram::before {
  content: url(../images/icons/instagram-36px.png);
}

.footer__nav--youtube::before {
  content: url(../images/icons/youtube-36px.png);
}

.footer__nav--twitter::before {
  content: url(../images/icons/twitter-36px.png);
}

.footer__nav--facebook:hover {
  opacity: 0.6;
}

.footer__nav--instagram:hover {
  opacity: 0.6;
}

.footer__nav--youtube:hover {
  opacity: 0.6;
}

.footer__nav--twitter:hover {
  opacity: 0.6;
}

.form__newsletter {
  width: 250px;
  height: 165px;
  margin: 0 auto;
  background-color: white;
  border-radius: 40px;
  color: #2B2929;
  padding: 15px 16px 25px 16px;
}

.form__newsletter--subscribe {
  display: block;
  font-family: "Rubik Dirt", sans-serif;
  font-size: 22px;
  text-align: center;
}

#form__newsletter--email {
  width: 100%;
  font-size: 20px;
  padding: 8px;
  border: solid 3px #2B2929;
  border-radius: 10px;
}

.footer__rights {
  display: flex;
  justify-content: space-between;
  max-width: 320px;
  margin: 0 auto;
}

.footer__rights--text {
  font-size: 14px;
  color: white;
}

@media (min-width: 480px) {
  .footer {
    margin: 20px 0 25px 0;
  }
  .footer__logo {
    width: 300px;
  }
  .form__newsletter {
    width: 240px;
    height: 180px;
  }
  .form__newsletter--subscribe {
    font-size: 22px;
  }
  #form__newsletter--email {
    padding: 13px;
  }
  .footer__rights {
    max-width: 460px;
  }
}
@media (min-width: 768px) {
  .footer__nav {
    margin: 30px 0 40px 0;
  }
  .form__newsletter {
    width: 270px;
    height: 200px;
  }
  .form__newsletter--subscribe {
    font-size: 25px;
  }
  #form__newsletter--email {
    padding: 16px;
    border-width: 4px;
    font-size: 20px;
  }
  .footer__rights {
    max-width: 600px;
  }
}
@media (min-width: 1024px) {
  .footer {
    max-width: 1620px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 435px;
  }
  .footer__logo {
    width: 300px;
    height: 60px;
  }
  .footer__nav--facebook::before {
    content: url(../images/icons/facebook.png);
  }
  .footer__nav--instagram::before {
    content: url(../images/icons/instagram.png);
  }
  .footer__nav--youtube::before {
    content: url(../images/icons/youtube.png);
  }
  .footer__nav--twitter::before {
    content: url(../images/icons/twitter.png);
  }
  .form__newsletter {
    height: 240px;
    width: 300px;
    padding: 45px 16px;
  }
  .form__newsletter--subscribe {
    font-size: 25px;
  }
  #form__newsletter--email {
    padding: 18px;
    border-width: 3px;
  }
  .footer__rights {
    max-width: 1600px;
    padding: 0 20px;
  }
}
.slideshow__container {
  position: relative;
  margin: auto;
}

.slideshow {
  display: none;
}

.slideshow__img {
  width: 100%;
  height: 285px;
}

.slideshow__arrow--previus,
.slideshow__arrow--next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  border-radius: 0 3px 3px 0;
  background-color: #2B2929;
}

.slideshow__arrow--next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.slideshow__arrow--next:hover,
.slideshow__arrow--previus:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slideshow__dots {
  text-align: center;
  margin-bottom: 100px;
  margin-top: 10px;
}

.slideshow__dots--pass {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #2B2929;
  border-radius: 50%;
  display: inline-block;
}

.active, .slideshow__dots--pass:hover {
  background-color: #717171;
}

.slideshow__fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.block__content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.block__content--ds {
  width: 1218px;
  height: 536px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 12%;
}

.block__div--ds {
  width: 496px;
  height: 496px;
  margin-right: 50px;
}

.block__div-info {
  width: 460px;
  font-size: 24px;
  line-height: 28px;
  margin-top: 44px;
}

.block__div-tittle {
  font-size: 40px;
}

.block__anchor--ds {
  width: 215px;
  height: 60px;
  background-color: #2B2929;
  border-radius: 30px;
  margin-top: 49.5px;
  padding: 15px 50px;
  color: white;
  font-size: 22px;
  line-height: 26px;
  position: relative;
  top: 15px;
}

.block__anchor--ds:hover {
  border: solid 2px #2B2929;
  color: #2B2929;
  background-color: white;
}

.block_img--ds {
  width: 696px;
  height: 481px;
}

.block__content--reverse--ds {
  margin-top: 148px;
  width: 1218px;
  height: 536px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  margin-bottom: 100px;
  margin-left: 12%;
}

.block__div--reverse--ds {
  width: 496px;
  height: 496px;
  margin-left: 50px;
}

.block__content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.hero__title {
  font-size: 24px;
  display: flex;
  margin-left: 12%;
  margin-bottom: 50px;
  flex-direction: column;
}

.hero__title-tittle {
  font-size: 60px;
  display: flex;
  margin-left: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 320px) {
  .block__content--ds {
    flex-direction: column-reverse;
    margin: 0;
    margin-top: 30%;
    margin-bottom: 40%;
    width: 100%;
    padding: 0 20px;
  }
  .block__content--reverse--ds {
    flex-direction: column-reverse;
    margin: 0;
    margin-top: 70%;
    margin-bottom: 100%;
    width: 100%;
    padding: 0 20px;
  }
  .block__div--ds {
    text-align: center;
    width: 100%;
    margin-right: 0;
  }
  .block__div--reverse--ds {
    text-align: center;
    width: 100%;
    margin-left: 0;
  }
  .hero__title {
    margin-left: 0;
    padding: 0 20px;
    text-align: center;
  }
  .block__img--ds img {
    width: 100%;
  }
  .block__div-info {
    width: 100%;
  }
}
@media screen and (min-width: 320px) and (max-width: 640px) {
  .block__content--ds {
    flex-direction: column-reverse;
    justify-content: space-evenly;
    margin-bottom: 30%;
    margin-left: 0;
    padding: 0 30px;
    text-align: center;
  }
  .block__content--reverse--ds {
    flex-direction: column-reverse;
    margin-bottom: 75%;
    margin-left: 0;
    padding: 0 30px;
    text-align: center;
  }
  .hero__title h1 {
    font-size: 50px;
  }
  .block__img--ds img {
    width: 100%;
  }
  .block__div--ds {
    width: 100%;
    margin: 0;
  }
  .block__div--ds p {
    width: 100%;
  }
  .block__div--reverse--ds {
    width: 100%;
    margin: 0;
  }
  .block__div--reverse--ds p {
    width: 100%;
  }
  .hero__title {
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 640px) and (max-width: 1023px) {
  .block__content--ds {
    flex-direction: column-reverse;
    margin-top: 200px;
    margin-bottom: 200px;
    text-align: center;
    margin-left: 0;
    padding: 0 40px;
  }
  .block__content--reverse--ds {
    flex-direction: column-reverse;
    margin-top: 200px;
    margin-bottom: 200px;
    text-align: center;
    margin-left: 0;
    padding: 0 40px;
  }
  .hero__title-tittle {
    font-size: 50px;
  }
  .block__img--ds-pic {
    width: 100%;
  }
  .block__div--ds {
    margin: 0;
  }
  .block__div--ds-info {
    width: 100%;
  }
  .block__div--reverse--ds {
    margin: 0;
  }
  .block__div--reverse--ds-info {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .block__content--ds {
    width: 100%;
    margin-left: 0;
    padding: 0 90px;
    margin-bottom: 0;
    margin-top: 0;
  }
  .block__div {
    margin-left: 40px;
  }
  .block__content--reverse--ds {
    width: 100%;
    margin: 0 12%;
  }
  .hero__title-tittle {
    font-size: 50px;
  }
  .block__img--ds-pic {
    width: 100%;
  }
  .block__div--ds {
    width: 100%;
  }
  .block__div--ds-info {
    width: 100%;
  }
  .block__div--reverse--ds {
    width: 100%;
  }
  .block__div--reverse--ds-info {
    width: 100%;
  }
}
.cart {
  background: #2B2929;
  padding: 20px;
  margin-bottom: 50px;
}

.cart__flex {
  margin: 0 10%;
}

.cart__center {
  display: flex;
  margin: auto 8%;
  font-size: 14px;
  color: white;
}

.cart__center--flex {
  display: flex;
}

.cart__price {
  margin: auto 0;
  font-size: 35px;
  font-weight: bold;
  color: white;
}

.cart__quantity {
  font-size: 16px;
  color: white;
}

.cart__container {
  display: flex;
  margin-bottom: 15px;
  margin: auto 0;
}

.cart__img {
  width: 150px;
  margin-left: 10px;
}

.cart__btn {
  margin-right: 30px;
}

.cart__form {
  background-color: #F2EFEB;
  width: 94%;
  height: 400px;
  padding: 20px;
  margin-bottom: 50px;
  border-radius: 10px;
  margin-left: 3%;
}

.cart__form-info {
  margin-bottom: 20px;
}

.cart__form-btn {
  margin: 0 auto;
  display: flex;
  font-size: 16px;
  padding: 5px 35px;
  background-color: #2B2929;
  margin-top: 25px;
  border-radius: 10px;
  border: solid 2px #2B2929;
}

.cart__form-tittle {
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 20px;
  text-align: center;
}

label {
  display: flex;
  justify-content: center;
  text-align: center;
}

textarea {
  border-radius: 10px;
  width: 100%;
}

@media (min-width: 481px) {
  .cart {
    padding: 20px 10px;
  }
  .cart__btn {
    margin-right: 0;
  }
  .cart__flex {
    margin: 0 5%;
    display: flex;
  }
  .cart__center {
    margin: auto 10% auto 5%;
  }
  .cart__center--flex {
    margin: 0 20%;
  }
}
@media (min-width: 769px) {
  .cart {
    padding: 30px 200px 30px 30px;
    margin-bottom: 100px;
  }
  .cart__flex {
    display: flex;
  }
  .cart__center {
    margin: auto 0;
    font-size: 24px;
    color: white;
  }
  .cart__center--flex {
    margin: auto 25%;
    justify-content: space-between;
  }
  .cart__quantity {
    margin: 0 10px;
    font-size: 32px;
  }
  .cart__img {
    display: flex;
    width: 200px;
  }
  .cart__btn {
    margin-right: 30px;
  }
  .cart__price {
    margin: auto 0;
    font-size: 35px;
    font-weight: bold;
    color: white;
  }
  .cart__container {
    display: flex;
    margin-bottom: 15px;
    margin-right: 5%;
  }
  .cart__form {
    height: 300px;
    padding: 50px;
  }
  .cart__form-container {
    display: flex;
    align-items: center;
  }
  .cart__form-info {
    width: 40%;
    margin-right: 10px;
  }
  .cart__form-text {
    width: 60%;
  }
  .cart__form-tittle {
    font-size: 45px;
    margin-top: -60px;
    text-align: left;
  }
  label {
    text-align: left;
  }
}
@media (min-width: 1024px) {
  .cart__container {
    margin-right: 15%;
  }
  .cart__center--flex {
    margin: auto 45%;
  }
  .cart__form {
    height: 400px;
    padding: 100px;
  }
  .cart__form-info {
    width: 35%;
  }
  .cart__form-text {
    width: 65%;
  }
  .cart__form-btn {
    font-size: 24px;
    padding: 10px 70px;
  }
  label {
    display: block;
  }
}
.header {
  background: #2B2929;
  padding: 30px 50px;
  margin-bottom: 50px;
}

.header__nav--marked {
  border-bottom: solid 3px #93151C;
  width: 100%;
}

.header__nav--hover {
  display: flex;
  justify-content: center;
}

.header__nav--hover:hover {
  border-bottom: solid 3px #93151C;
}

.header__flex {
  display: block;
}

.header__logo {
  height: 50px;
  width: 100%;
}

.header__search {
  display: flex;
  justify-content: center;
}

.header__search-bar {
  height: 27px;
  width: 100%;
  border-radius: 10px;
  margin-left: 15px;
  margin-top: 20px;
  padding: 10px 4px;
}

.header__search-img {
  content: "";
  background: url("../images/icons/search.png") no-repeat;
  width: 35px;
  height: 21px;
  position: relative;
  right: 11%;
  top: 22px;
}

.header__nav {
  display: block;
  width: 10%;
  font-size: 14px;
  margin: 0 auto;
  margin-top: 15px;
}

.header__btn {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.header__btn--log {
  background: white;
  color: #2B2929;
  margin-left: 0;
}

.header__btn--log:hover {
  box-shadow: -1px 6px 10px 0 #777777;
}

.header__btn--sign {
  background: #2B2929;
  border: solid 1px #F2EFEB;
  margin-left: 15px;
}

.header__btn--sign:hover {
  box-shadow: -1px 6px 10px 0 #777777;
}

.header__btn--log,
.header__btn--sign {
  font-size: 14px;
  border-radius: 10px;
  align-items: center;
  padding: 10px;
}

@media (min-width: 481px) {
  .header__nav {
    font-size: 20px;
  }
  .header__logo {
    height: 100px;
  }
  .header__btn--log,
  .header__btn--sign {
    font-size: 20px;
  }
  .header__search-img {
    right: 7%;
    height: 35px;
  }
}
@media (min-width: 769px) {
  .header {
    padding: 30px 100px;
  }
  .header__flex {
    display: flex;
    justify-content: space-between;
  }
  .header__nav {
    font-size: 16px;
    width: 65%;
    display: flex;
    justify-content: space-between;
  }
  .header__nav--marked {
    width: auto;
  }
  .header__logo {
    width: 90%;
    height: 70px;
  }
  .header__btn {
    display: flex;
    width: 400px;
    justify-content: flex-end;
    margin: 0;
  }
  .header__btn--log,
  .header__btn--sign {
    font-size: 16px;
  }
  .header__search {
    display: block;
  }
  .header__search-bar {
    height: 35px;
    margin: 0;
  }
  .header__search-img {
    background: url("../images/icons/search.svg") no-repeat;
    height: 35px;
    top: -34px;
    right: -77%;
    margin-left: 15px;
  }
}
@media (min-width: 1024px) {
  .header {
    padding: 30px 200px;
  }
  .header__logo {
    height: 62px;
    width: 357px;
  }
  .header__nav {
    width: 65%;
    font-size: 22px;
    margin: auto 0;
  }
  .header__search {
    margin-left: 15px;
  }
  .header__btn {
    width: 280px;
  }
  .header__btn--log,
  .header__btn--sign {
    font-size: 22px;
  }
  .header__search-img {
    right: -80%;
  }
}
.blog__info {
  font-size: 24px;
  padding-left: 12%;
  margin-bottom: 100px;
  margin-top: -50px;
  width: 1200px;
}

.blog__container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 12%;
  max-width: 1700px;
}

.blog__container--card {
  width: 500px;
  height: 600px;
  border: solid 7px #2B2929;
  padding: 50px 30px;
  align-items: center;
  margin-bottom: 100px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.blog__container--img,
.blog__container--info,
.blog__container--tittle {
  margin-bottom: 30px;
  text-align: center;
}

.blog__container--info {
  margin-top: 30px;
}

.blog__container--img {
  display: block;
  margin: auto;
}

.qwe {
  margin: 0 auto;
}

.form-popup {
  display: none;
  position: absolute;
  margin-top: 68px;
  margin-right: -50px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-popup__sign-up {
  margin-right: 50px;
}

.form-popup__container {
  width: 200px;
  padding: 30px 20px;
  background-color: white;
}

.form-popup__tittle {
  font-size: 30px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: normal;
}

.form-popup__input {
  font-size: 12px;
  padding: 6px;
  margin-bottom: 15px;
  width: 100%;
  border-radius: 10px;
  border: 3px solid #2B2929;
}

.form-popup__center {
  display: flex;
  justify-content: center;
}

.form-popup__btn {
  font-size: 16px;
  padding: 5px 35px;
  background-color: #2B2929;
  margin-top: 25px;
  border-radius: 10px;
  border: solid 2px #2B2929;
}

.form-popup__btn:hover {
  background-color: white;
  color: #2B2929;
}

.form-popup__btn--close {
  margin-right: 0;
  margin-top: 10px;
  color: #2B2929;
  font-weight: bold;
  font-size: 16px;
}

.form-popup__btn--close--sign {
  margin-left: 170px;
}

.form-popup__forget {
  color: #2B2929;
  text-decoration: underline;
  text-align: center;
  font-size: 12px;
}

.form-popup__forget:hover {
  opacity: 80%;
}

.form-popup__input--last {
  margin-bottom: 12px;
}

@media (min-width: 481px) {
  .form-popup {
    margin-top: 74px;
  }
  .form-popup__container {
    width: 230px;
  }
  .form-popup__btn--close {
    margin-left: 5px;
  }
  .form-popup__btn--close--sign {
    margin-left: 205px;
  }
}
@media (min-width: 769px) {
  .form-popup {
    margin-right: -70px;
    margin-top: 70px;
  }
  .form-popup__sign-up {
    margin-right: 0;
  }
}
@media (min-width: 1024px) {
  .form-popup {
    margin-top: 77px;
    margin-right: 125px;
  }
  .form-popup__sign-up {
    margin-right: 0;
  }
  .form-popup__container {
    width: 300px;
    padding: 40px 40px;
  }
  .form-popup__tittle {
    font-size: 40px;
  }
  .form-popup__input {
    font-size: 18px;
    padding: 5px;
    margin-bottom: 20px;
    border: 5px solid #2B2929;
  }
  .form-popup__btn {
    font-size: 18px;
    padding: 10px 75px;
  }
  .form-popup__btn--close,
  .form-popup__btn--close--sign {
    margin-left: 265px;
    font-size: 24px;
  }
  .form-popup__forget {
    font-size: 16px;
  }
  .form-popup__input--last {
    margin-bottom: 25px;
  }
}
* {
  box-sizing: border-box;
}

p {
  color: black;
}

body {
  font-family: "Rubik";
  margin: 0 auto;
  color: #2B2929;
}

h1, h2 {
  color: #2B2929;
}

h1 {
  margin-left: 12%;
  font-size: 45px;
  margin-bottom: 50px;
}

a {
  text-decoration: none;
  color: white;
}

button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

input {
  font-size: 24px;
  padding: 20px 8px;
  text-align: center;
}

footer {
  width: 100%;
  background-color: #2B2929;
}

.buttons {
  padding: 10px 75px;
  background-color: #2B2929;
  margin-top: 50px;
  border-radius: 10px;
  border: solid 2px #2B2929;
}

.buttons:hover {
  background-color: white;
  color: #2B2929;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*# sourceMappingURL=styles.css.map */
