ul {
  padding-left: 0;
}

.card__title {
  margin-top: 100px;
}

.card__container {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 130px;
  margin-bottom: 100px;
}

.card {
  min-width: 315px;
  max-width: 315px;
  min-height: 435px;
  border: 7px solid #2B2929;
  border-radius: 10px;
  margin-right: 65px;
  background-color: #fff;
  position: relative;
}

.card:hover {
  transform: scale(1.1);
}

.card__wrapper {
  position: relative;
  z-index: 2;
}

.card__img {
  width: 90%;
  margin: 15px 15px 0 15px;
  border-radius: 10px;
}

.card__info {
  min-height: 150px;
  padding: 20px 20px 0 20px;
  margin-top: 10px;
  text-align: center;
}

.card__info__price {
  padding-left: 0;
  color: #2B2929;
  font-size: 24px;
  margin-top: 40px;
}

.card__info__name {
  margin: 0;
  font-size: 22px;
  color: #2B2929;
}

.card__cta {
  font-size: 22px;
  padding: 0 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2B2929;
  cursor: pointer;
}

.card__cta::after {
  cursor: pointer;
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.card__cta--arrow {
  position: relative;
  margin-left: 5px;
  border-radius: 3px;
  z-index: 3;
  height: 24px;
  width: 24px;
}

.card__cta--arrow::after {
  content: url("../../images/icons/arrow-right.png");
  position: absolute;
  left: 4px;
  bottom: -2px;
}

.card__cta--arrow::after:hover {
  left: 4px;
}

footer {
  width: 100%;
  background-color: #2B2929;
}

.footer {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 435px;
  padding: 0 130px;
}

.footer__logo {
  height: 20px;
  width: 100px;
  margin-right: 130px;
}

.footer__nav__social {
  display: flex;
  margin-left: 75px;
}
.footer__nav__social li {
  position: relative;
  list-style: none;
}

.footer__nav__social--facebook::before {
  content: url(../images/icons/facebook.png);
  margin-right: 20px;
  cursor: pointer;
}

.footer__nav__social--instagram::before {
  content: url(../images/icons/instagram.png);
  margin-right: 20px;
  cursor: pointer;
}

.footer__nav__social--youtube::before {
  content: url(../images/icons/youtube.png);
  margin-right: 20px;
  cursor: pointer;
}

.footer__nav__social--twitter::before {
  content: url(../images/icons/twitter.png);
  cursor: pointer;
}

.form__newsletter--description {
  width: 443px;
  height: 312px;
  background-color: #fff;
  border-radius: 40px;
  color: #2B2929;
  padding: 50px 16px 50px 16px;
}
.form__newsletter--description p {
  font-family: "Rubik Dirt", sans-serif;
  font-size: 35px;
  text-align: center;
}

#email-newsletter {
  width: 100%;
  padding: 20px 8px;
  border-radius: 10px;
  border: 5px solid #2B2929;
}

.footer__rights {
  display: flex;
  justify-content: space-between;
  color: #F2EFEB;
  width: 1160px;
  margin: 0 auto;
  margin-top: 20px;
}
.footer__rights p {
  font-size: 14px;
}

.slideshow__container {
  position: relative;
  margin: auto;
}

.slideshow img {
  width: 100%;
}

.slideshow__arrow--previus {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: #F2EFEB;
  font-weight: bold;
  font-size: 24px;
  border-radius: 0 3px 3px 0;
  background-color: #2B2929;
}

.slideshow__arrow--next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: #F2EFEB;
  font-weight: bold;
  font-size: 24px;
  background-color: #2B2929;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.slideshow__dots {
  text-align: center;
}

.slideshow__dots--pass {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #2B2929;
  border-radius: 50%;
  display: inline-block;
}

.block__content--ds {
  width: 1218px;
  height: 536px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 130px;
}

.block__div--ds {
  width: 496px;
  height: 496px;
  margin-right: 50px;
}

.block__div--ds h3 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 65px;
  color: black;
}

.block__div--ds p {
  width: 460px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-top: 44px;
  color: black;
}

.block__div--ds a {
  color: white;
  text-decoration: none;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  position: relative;
  top: 15px;
}

.block__anchor--ds {
  width: 215px;
  height: 60px;
  background-color: black;
  border-radius: 30px;
  margin-top: 49.5px;
  padding: 15px 50px;
}

.block__anchor--ds:hover {
  border: solid 2px #2B2929;
  color: #2B2929;
  background-color: #fff;
}

.block_img--ds {
  width: 696px;
  height: 481px;
}

.block__content--reverse--ds {
  margin-top: 148px;
  width: 1218px;
  height: 536px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  margin-bottom: 100px;
  padding-left: 130px;
}

.block__div--reverse--ds {
  width: 496px;
  height: 496px;
  margin-left: 50px;
}

.block__div--reverse--ds h3 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 65px;
  color: black;
}

.block__div--reverse--ds p {
  width: 460px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-top: 44px;
  color: black;
}

.block__div--reverse--ds a {
  color: white;
  text-decoration: none;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  position: relative;
  top: 15px;
}

.cart {
  background: #2B2929;
  padding: 30px 200px 30px 130px;
  margin-bottom: 100px;
}

.cart__flex {
  display: flex;
  justify-content: space-between;
}

.cart__center {
  margin: auto 0;
  font-size: 24px;
}

.cart__price {
  margin: auto 0;
  font-size: 35px;
  font-weight: bold;
}

.cart__quantity {
  margin: 0 10px;
  font-size: 32px;
}

.cart__img {
  display: flex;
}

.cart__btn {
  margin-right: 30px;
}

.header {
  background: #2B2929;
  padding: 30px 130px;
  margin-bottom: 100px;
}

.header__nav--hover:hover {
  border-bottom: solid 3px #93151C;
}

.header__flex {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  height: 62px;
  width: 357px;
}

.header__search--bar {
  height: 45px;
  width: 520px;
  border-radius: 10px;
}

.header__search--img {
  content: "";
  background: url("../images/icons/search.svg") no-repeat;
  width: 35px;
  height: 35px;
  position: relative;
  right: -92%;
  top: -49%;
}

.header__nav {
  width: 40%;
  font-size: 22px;
  margin-top: 15px;
}

.header__btn--log {
  background: #F2EFEB;
  border-radius: 10px;
  color: #2B2929;
  font-size: 22px;
  align-items: center;
  padding: 10px;
}

.header__btn--log:hover {
  box-shadow: -1px 6px 10px 0 #777777;
}

.header__btn--sign {
  background: #2B2929;
  border-radius: 10px;
  font-size: 22px;
  align-items: center;
  padding: 10px;
  border: solid 1px #F2EFEB;
  margin-left: 15px;
}

.header__btn--sign:hover {
  box-shadow: -1px 6px 10px 0 #777777;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Rubik";
  margin: 0 auto;
  color: #F2EFEB;
}

h1, h2 {
  color: #2B2929;
  padding-left: 130px;
}

a {
  text-decoration: none;
  color: #F2EFEB;
}

button {
  background: none;
  border: none;
  color: #F2EFEB;
  font-size: 24px;
  cursor: pointer;
}

input {
  font-size: 24px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*# sourceMappingURL=styles.css.map */
